<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svbookmarket">

    <application
        android:name=".activities.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SvBookMarket"
        >
        <activity android:name=".activities.CancelConfirmation" />
        <activity android:name=".activities.CancelOrder" />
        <activity android:name=".activities.DeliveringActivity" />
        <activity android:name=".activities.UserOrder" />
        <activity android:name=".activities.ForgotPassword" />
        <activity android:name=".activities.ConfirmationActivity" />
        <activity android:name=".activities.UserManageActivity" />
        <activity android:name=".activities.CategoryDetailActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.FeatureActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ItemDetailActivity" />
        <activity android:name=".activities.CheckoutActivity" />
        <activity android:name=".activities.WelcomeActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.EditAdressActivity" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.AddressActivity" />
        <activity android:name=".activities.HomeActivity" android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" android:screenOrientation="locked"   />
        <activity android:name=".activities.CategoryActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>